
@import url('https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;600;700&display=swap');

/* index.css */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
  height: 100vh;
  padding: 20px;
}

.content {
  padding: 20px;
}

.row {
  display: flex;
}

.col-md-3 {
  flex: 0 0 250px;
}

.col-md-9 {
  flex: 1; 
}